.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.recipeCard {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.recipeCard h1 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 6px;
}

.recipeCard p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.addRecipe {
  text-align: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 500px;
  margin: 16px;
}
